{% extends 'base.html' %}
{% block content %}

    {% include 'main\components\navbar.html' %}
    <div class="container">
            
        <div class="row">
            <h1>{{question.content}}</h1>
        </div>

        <div class="row">
            <div class="col-6">
                
                <div class="collection">
                        {% for choices in question.choice_set.all %}
                            <div class="collection-item">
                            <p>
                                <label>
                                  <input class="with-gap" name="group1" type="radio"  />
                                  <span>{{choices.choice}}</span>
                                </label>
                              </p>
                            </div>
                          {% endfor %}
                        </div>
              

            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
                <i class="material-icons right"></i>
              </button>
        </div>
    </div>
{% endblock %}